@model ElektronikaiAlkatreszRaktar.Models.Arukereso

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Új hozzádása</a>
</p>

<form asp-controller="Adatmodels" asp-action="Index" method="post">
    <div class="row">
  <div class="col">
    <input asp-for="megnevezesKereses" type="text" class="form-control" placeholder="Megnevezes" aria-label="Megnevezes">
  </div>
  <div class="col">
    <select asp-for="tipusKereses" asp-items="Model.tipusLista" class="form-select" aria-label="Tipus">
    <option value="" selected>Mindegyik</option>
    </select>
</div>
  <button type="submit" class="btn btn-success">Keres</button>
</div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aru[0].Megnevezes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aru[0].Gyarto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aru[0].Tipus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aru[0].BeszerzesiAr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Aru) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Megnevezes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gyarto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeszerzesiAr)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" style="width:100px">Módosítás</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-light" style="width:100px">Részletek</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="width:100px">Törlés</a>
            </td>
        </tr>
}
    </tbody>
</table>
